.body_content {
  display: block;
  min-width: 100vh;
}

section .scroll_section {
  position: absolute;
  bottom: 5px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 70px;
}

section .scroll_section span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/* Transparent Image css */
.transparent_image {
  position: absolute;
  width: 100%;
  z-index: -1;
  min-height: inherit;
  background: radial-gradient(closest-corner at 60% 65%,  rgba(1, 30, 66, 0.9),  rgb(17, 29, 44, 1) 70%, rgb(10, 18, 27)), url("../../images/wallpaper.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Extras css */
.content_box .highlight_text {
  color: rgb(47, 218, 255);
}

.content_box .underline_text {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 99, 71) 0%, rgb(255, 144, 124) 100%);
  border-image-slice: 1;
}

.content_box .start_title {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

/* Logos */
section .logo {
  width: 105px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: contain;
}
#html5_logo {
  background-image: url(../../images/html5.logo.svg);
}
#css3_logo {
  background-image: url(../../images/css3.logo.svg);
}
#reactjs_logo {
  background-image: url(../../images/reactjs.logo.svg);
}


/* ScreenContainer css  */
.screens_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: lightcoral; */
  height: 500px;
}

.screen {
  width: 450px;
  height: 300px;
  margin: auto;
}

/* RenderScreen css */
.render_screen {
  background-color: lawngreen;
}