/* Nav css */
nav {
  position: fixed;
  width: 100%;
  z-index: 8;
  background-color: rgb(17, 29, 44);
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(255, 99, 71);
}

.nav_content {
  display: flex;
  width: 950px;
  margin: auto;
}

.body_content {
  display: flex;
  position: relative;
  padding-top: 3rem;
  min-height: 512px;
  color: #ddd;
  z-index: 1;
  background-color: rgb(10, 18, 27);
}

/* Footer css */
footer {
  background-color: darkmagenta;
  height: 15px;
}