.App {
  background-color: #111D2C;
}
/* Nav css */
nav {
  /* background-color: rgba(43, 138, 255, 0.2) */
}

.nav_content {
  display: flex;
  width: 950px;
  margin: auto;
}

.nav_content a {
  color: rgba(255, 255, 255, 0.5);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid rgb(0, 174, 255, 0);
  border-left: 2px solid rgb(0, 174, 255, 0);
  transition: border-left 100ms ease-in,
    border-bottom 100ms ease-in,
    background-color 200ms ease-in-out;
}

.nav_content a:hover {
  color: rgb(192, 235, 255);
  background-color: rgba(0, 112, 163, 0.5);
  border-bottom: 2px solid rgb(0, 174, 255);
  border-left: 2px solid rgb(0, 174, 255);
}

/* BodyContent css */
.body_content {
  position: relative;
  /* background-color: darkblue; */
  min-height: 512px;
  color: #ddd;
}

/* LeftMenu css */
.left_menu {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  /* background-color: #ddd; */
  min-height: inherit;
  width: 150px;
  margin-left: -140px;
}

.left_menu:hover {
  margin-left: 0px;
}

.left_menu a {
  width: inherit;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.left_menu a:hover {
  /* background-color: #333; */
  color: #ddd;
}

/* ContentBox css */
.content_box {
  width: inherit;
  min-height: inherit;
  /* background-color: ivory; */
}

/* ScreenContainer css  */
.screens_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: lightcoral; */
  height: 500px;
}

.screen {
  width: 450px;
  height: 300px;
  margin: auto;
}

/* RenderScreen css */
.render_screen {
  background-color: lawngreen;
}

footer {
  background-color: darkmagenta;
  height: 15px;
}